---
# tasks to validate vcenter credentials
- block:
  - name: Validate vcenter credentials
    community.vmware.vmware_about_info:
      hostname: "{{ hostvars[vcenter_host]['information']['address'] }}"
      username: "{{ hostvars[vcenter_host]['credentials']['username'] }}"
      password: "{{ hostvars[vcenter_host]['credentials']['password'] }}"
      validate_certs: no
    register: vcenter_creds
    ignore_errors: true
    delegate_to: localhost

  - ansible.builtin.set_fact:
      abort_play: yes
      err_msg: "{{ vcenter_host }}: {{ vcenter_creds.msg }}"
    when:
      - vcenter_creds is failed
